header{
    position: sticky;
    padding: 15px 0px;
}

header .bol, .table .avatar{
    width: 30px;
    height: 30px;
    padding-right: 2px;
}

header i{
    font-size: 20px;
    padding: 5px 5px;
}

.form-control{
    width: 80%;
    height: 35px;
    background-color: lightgrey;
}

.fa-bell{
    color: gold;
}
/* fine sezione header CSS */
/* inizio sezione navbar all'interno del main */
.nav{
    background-color: #051E34;
    background-image: url(../img/sidebar-bg.png);
}

.nav img{
    height: 100%;
    width: 100%;
}

.btn-secondary{
    background-color: whitesmoke;
    border: white;
}

@media only screen and (min-width: 577px) and (max-width: 991px) {
    .mid-pad{
        padding: 0px 15px;
    }
}

@media only screen and (min-width: 200px) and (max-width: 576px) {
    .mob-pad{
        padding: 0px 12px;
    }
}
/* fine navbar */
.main, .nav{
    height: calc(100vh - 65px);
}
/* inizio parte dashboard */
.bg-pills{
    background: #113f67;
}

.fa-angles-right{
    font-size: 15px;
}

.chart{
    width: 230px;
    height: 200px;
}
/* fine */